@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family:"Hahmlet", serif;;
}
/* In your global CSS or Blog.css */
.ql-editor {
  padding: 1rem;
  line-height: 1.8;
  font-family: "Hahmlet", serif;
  font-size: 1rem;
  color: #1f2937; /* gray-800 */
}

.ql-editor h1, .ql-editor h2, .ql-editor h3 {
  font-weight: bold;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.ql-editor ul, .ql-editor ol {
  margin-left: 1.25rem;
  padding-left: 1rem;
}
